<div class="header-container flex items-center justify-between px-4 py-2">
    Welcome , {{ userName }}
    <button (click)="refreshTabs()" mat-icon-button class="refresh-button">
        <mat-icon class="refresh-icon">refresh</mat-icon>
      </button>
    <!-- Logout Button (Properly Styled) -->
   
    <button (click)="logout()" mat-icon-button class="logout-button">
        <mat-icon class="power-icon">power_settings_new</mat-icon>
      </button>
  </div>
  <div class="p-4">
    <mat-tab-group class="custom-tab-group">
        <mat-tab label="Symbols List">
            <app-stocklist></app-stocklist>
        </mat-tab>
        <mat-tab label="Holdings">
            <app-holdings></app-holdings>
        </mat-tab>
        
       
    </mat-tab-group>
   
    <!-- Tab Content -->
    
    
</div>
